In [1]:
import os
import numpy  as np
import pandas as pd

import matplotlib.pyplot as plt
from jupyfun import sorted_filenames
from nbtools import auto_plot_style

In [2]:
%matplotlib inline

auto_plot_style()

# Transform data

In [3]:
filenames = ["../file-00000.parquet"]
os.path.exists(filenames[0])

True

In [4]:
data = pd.concat([pd.read_parquet(filename) for filename in filenames], ignore_index=True)

In [5]:
data.describe()

,x,y,z,sipm_0,sipm_1,sipm_2,sipm_3,sipm_4,sipm_5,sipm_6,...,sipm_54,sipm_55,sipm_56,sipm_57,sipm_58,sipm_59,sipm_60,sipm_61,sipm_62,sipm_63
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.693666,0.341363,-18.899031,80.836000,82.872000,89.633000,82.865000,85.492000,87.889000,90.019000,...,90.954000,85.635000,89.738000,92.31400,86.667000,84.867000,85.779000,85.433000,87.684000,86.402000
std,13.927008,13.732667,10.733655,147.868584,116.170854,183.178527,90.156825,123.558304,129.863695,155.764101,...,130.911289,97.055085,193.475234,157.85823,109.028287,83.867557,112.066431,96.107347,119.701456,148.570366
min,-23.943089,-23.843510,-36.989368,19.000000,19.000000,20.000000,29.000000,28.000000,26.000000,24.000000,...,25.000000,29.000000,23.000000,22.00000,23.000000,25.000000,30.000000,17.000000,26.000000,24.000000
25%,-10.975836,-11.260427,-28.027728,51.000000,51.000000,51.000000,52.000000,52.000000,53.000000,51.000000,...,52.000000,52.000000,51.000000,53.00000,53.000000,54.000000,53.000000,53.000000,53.000000,53.000000
50%,1.043991,0.351482,-19.373254,61.000000,61.000000,61.000000,62.000000,63.000000,62.000000,62.000000,...,61.000000,62.000000,63.000000,63.00000,63.000000,64.000000,64.000000,63.500000,62.000000,63.000000
75%,13.048984,12.337978,-9.278250,75.250000,78.000000,80.000000,82.000000,83.000000,82.250000,79.000000,...,82.000000,79.000000,80.000000,81.25000,85.000000,86.000000,85.000000,82.250000,79.000000,77.000000
max,23.919647,23.998554,-0.011971,3704.000000,2299.000000,3608.000000,1479.000000,2811.000000,2426.000000,3128.000000,...,3115.000000,1755.000000,4057.000000,3083.00000,2296.000000,1244.000000,2189.000000,1524.000000,2466.000000,3154.000000

In [24]:
acc_evt = 0
for filename in filenames:
    file_index = int(os.path.basename(filename).split("-")[1].split(".")[0])
    data = pd.read_parquet(filename)
    subfile = 0
    while len(data):
        df   = data.iloc[:10000]
        data = data.iloc[10000:]
        df   = df.insert(loc=0, column="evt", value=acc_evt + np.arange(len(df)))
        acc_evt += len(df)

        csv_filename = f"output/file_{file_index}_{subfile}.csv"
        npy_filename = csv_file.replace(".csv", ".npy")

        df.filter(columns="evt x y z".split()).to_csv(csv_filename, header=True)
        df.filter(regexp="sipm*").values.reshape(len(df), 8, 8)
        for _, row in df.iterrows():
            output_file = f"output/file_{file_index:>01}_evt_{evt_index:>05}"
            open(output_file + ".csv", "w").write(f"{row.x}, {row.y}, {row.z}\n")

            sipms = row.filter(regex="sipm*").values.reshape(8, 8)
            np.save(output_file + ".npy", sipms)

In [ ]:
data.to_csv()

In [7]:
data.iloc[:10].values.shape

(10, 67)